*, *::after,*::before{
    box-sizing: border-box;
}

:root{
    --color-primary:hsl(171, 66%, 44%);
    --color-secondary:hsl(233, 100%, 69%);
    --color-headings: hsl(210, 10%, 33%);
    --color-body-text:hsl(201, 11%, 66%);
}

/* Typography */


body{
    
    font-size: 62.5%;
    margin:0;
    padding: 0;

}



h1,h2,h3,.btn{
    color:var(--color-headings);
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;

}

p,a{
    color: var(--color-body-text);
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.container{
      max-width:340px;
      margin:0 auto;

}


/* Header */
.page-header{
    background: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.page-header__logo{
    margin-top:5.5rem;
}

@media screen and (min-width:1024px)
{
    .page-header{
        background: url(../images/bg-header-desktop.png);
        background-repeat: no-repeat;
        /* background-size: cover; */
       
    }

   

}


/* Introduction */

.introduction{
    text-align: center;
    margin-top: -28rem;
}

.introduction__heading{
    
    font-size:2rem;
    
}

.introduction__content{
    font-size:1.1rem ;
    margin-top: -1rem;
    
}

@media screen and (min-width:1024px)
{

    .introduction{
        margin-top: -25rem;
    }
    
    .introduction__heading{
        
        font-size:3rem;
        
    }
    
    .introduction__content{
        margin-top: -1.5rem;
        font-size:1.3rem ;
        
    }
    
    .container{
        max-width:750px;
        
    }
}

/* Buttons */

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:3rem;
    margin-bottom: 8rem;
    
    
}

.btn{
    outline:none;
    
    width:300px;
    height:50px;
    border-radius: 30px;
    margin-top:1rem;
    font-size: 1.2rem;
    color: #fff;
    border: 2px solid;
    cursor: pointer;

}

.btn--primary{
    background:var(--color-primary);
    border-color:var(--color-primary);
    box-shadow: 0 0 4px 0 var(--color-primary);
}

.btn--secondary{
    background:var(--color-secondary);
    border-color: var(--color-secondary);
    box-shadow: 0 0 4px 0 var(--color-secondary);
}

    
.btn--primary:hover{
    background:var(--color-primary);
    opacity: 0.8;

}

    
.btn--secondary:hover{
    background:var(--color-secondary);
    opacity: 0.8;
}


@media screen and (min-width:1024px){
    .buttons{
        flex-direction: row;
        
    }

    .btn{
        
        outline: 0;
        width:240px;
        height:50px;
        border-radius: 30px;
        margin-right: 1rem;
       
        font-size: 1.1rem;
        color: #fff;
        border: 2px solid;
        cursor: pointer;
         
    }

    .btn--primary{
        background:var(--color-primary);
        border-color:var(--color-primary);
        box-shadow: 0 0 4px 0 var(--color-primary);
    }
    
    .btn--secondary{
        background:var(--color-secondary);
        border-color: var(--color-secondary);
        box-shadow: 0 0 4px 0 var(--color-secondary);
    }

}

/* Informational Sections */

.information{
    text-align: center;
}

.information__heading{
    font-size:1.8rem;
   
}

.information__content{
    font-size:1.1rem ;
    
    margin-top: -0.5rem;
}



@media screen and (min-width:1024px){

    

    .information__heading{
        font-size:2.2rem;
    }

    .information__content{
        font-size:1.2rem ;
        
        margin-top: -1rem;
        
    }
    
}

/* Feature List*/

.feature-list{
    text-align: center;
}

.feature-list__heading{
    font-size:1.5rem;
    
    
}

.feature-list__content{
    font-size: 1rem;
    margin-top: -1rem;
    margin-bottom: 3.5rem;
    
}


 .feature-list .container{
    max-width: 300px;
}

.computer-list__image img{
    width:100%;
    padding:2rem;
}


@media screen and (min-width:1024px){

    .feature-list{
        text-align: left;
        margin-top:4rem;
        margin-left:-20rem;
    }
    
    .feature-list__heading{
        font-size:1.5rem;
        
        
    }
    
    .feature-list__content{

        font-size: 1rem;
        margin-top: -0.5rem;
        margin-bottom: 3.5rem;
        
    }

    .feature-list .container{
        max-width: 350px;
    }

    .computer-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 6rem;
        
    }

    .computer-list__image img{
        width: 750px;
        height: 596px;
        padding: 2rem;
        transform: translateX(-93px);
    }
    }



    .devices-icon{
        margin-top:5rem;
        margin-bottom:3rem;
        width:100%;
    }

    @media screen and (min-width:1024px){
        .devices-icon{
            width:900px;
            margin-left:12rem;
        }

    }


/* Feature List with Icons */

.feature-icon-list{
   text-align: center;
   margin-left:auto;
   margin-right:auto;
}


.feature-icon-list__icon{
    margin-top:1rem;
    margin-bottom: 1rem;
}

.feature-icon-list .feature-list__content{
    margin-top:-0.5rem;
    line-height: 1.8;
}

.feature-icon-list .container{
    max-width:320px;
}



@media screen and (min-width:1024px){

   
    .row{
        display:flex;
        justify-content:space-between;
        align-items: center;
    }

    .feature-icon-list__icon{
        width:45px;
        height:35px;
    }

    .feature-icon-list .container{
        max-width:1000px;
    }

    .feature-icon-list__item{
        max-width: 350px;
    }

    .faulty-blacklist-icon{
        margin-top:2rem;
        height:40px;
        

    }
}


/* Company Icons */

.company-icons-list{
    margin-top:4rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.company-icons-list img{
    width: 120px;
    height:50px;
    margin: 2rem;

}

@media screen and (min-width:1024px){
    .company-icons-list{
       
        flex-direction: row;
        justify-content: space-between;
        max-width: 1500px;
        margin:0 4rem;
        
    }
    


    .company-icons-list img{
        width: 120px;
        height:38px;
        margin: 2rem;
    
    }
}

.last-section{
    margin-top:8rem;
}

/* Footer */

.page-footer{
    background:hsl(0, 0%, 95%);
    width: 100vw;
    margin-bottom:0;
    height:36rem;

}

.footer__content ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    /* flex-wrap: wrap; */
    margin-bottom: 0;
    
    
    
}

.footer__content li{
    margin-top:3.2rem;
    font-size: 1.2rem;
    
}

.footer__content a{
    text-decoration: none;
    color: var(--color-headings);
    
    
}

.footer__content a:hover{
    color:var(--color-primary);
}

.footer__icon{
    width:50px;
    height: 50px;
    margin-top:2rem;
  
  
}

.footer__icon-list{
    margin:2rem;
    display: flex;
    margin-left:4rem;
    


    
}

.footer__icon-list img{
    margin-right:2rem;
    
}


.footer__icon-list img:hover{
  
    cursor:pointer;
    filter: invert(54%) sepia(99%) saturate(324%) hue-rotate(121deg) brightness(93%) contrast(91%);
}

.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding:0;
}

@media screen and (min-width:1024px)
{
.page-footer{
    height:10rem;
}




.footer__content ul{
    
    display: grid;
    grid-template-columns: repeat(3,150px);
    gap:13px;
    
    list-style: none;
    
    margin-bottom: 0;
    
    
    
}

.footer__content a{
    
    font-size:1rem ;

}

.footer__content li{
    margin-top:0;
    /* width:50%; */
    

}

.footer__icon-list{
    width:5%;
    
}

.center-flex, .footer__icon{
    width:50px;
    height: 50px;
    transform: translate(96px, 22px);
}

.footer__content li:nth-of-type(1){
    
}

.footer__content li:nth-of-type(2){
    order:2;
}

.footer__content li:nth-of-type(3){
   
}

.footer__content li:nth-of-type(4){
    order:1;
    
}
.footer__content li:nth-of-type(5){
    order:2;
    
}

.footer__icon-list{
    
    display: flex;
    position:relative;
    
    top: -112px;
    left: 1000px;


    
}

.footer__icon-list img{
    margin-right: 1rem;
    width: 30px;
    
}




}


