<section class="feature-list">
  <div class="container">
    <h3 class="feature-list__heading">Quick Search</h3>
    <p class="feature-list__content">
      Easily search your snippets by content, category, web address,
      application, and more.
    </p>
    <h3 class="feature-list__heading">iCloud Sync</h3>
    <p class="feature-list__content">
      Instantly saves and syncs snippets across all your devices.
    </p>
    <h3 class="feature-list__heading">Complete History</h3>
    <p class="feature-list__content">
      Retrieve any snippets from the first moment you started using the app.
    </p>
  </div>
</section>
