<footer class="page-footer">
  <div class="footer__content">
    <img src="images/logo.svg" alt="" class="footer__icon" />
    <ul>
      <li><a href="#">FAQs</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Press Kit</a></li>
      <li><a href="#">Install Guide</a></li>
    </ul>
  </div>
  <div class="footer__icon-list">
    <img src="images/icon-facebook.svg" alt="" />
    <img src="images/icon-twitter.svg" alt="" />
    <img src="images/icon-instagram.svg" alt="" />
  </div>
</footer>
