<section class="information container">
  <h2 class="information__heading">Keep track of your snippets</h2>
  <p class="information__content">
    Clipboard instantly stores any item you copy in the cloud, meaning you can
    access your snippets immediately on all your devices. Our Mac and iOS apps
    will help you organize everything.
  </p>
</section>

<section class="information container">
  <h2 class="information__heading">Access Clipboard anywhere</h2>
  <p class="information__content">
    Whether you’re on the go, or at your computer, you can access all your
    Clipboard snippets in a few simple clicks.
  </p>
</section>

<section class="information container">
  <h2 class="information__heading">Supercharge your workflow</h2>
  <p class="information__content">
    We’ve got the tools to boost your productivity.
  </p>
</section>

<section class="information container">
  <h2 class="information__heading">Clipboard for iOS and Mac OS</h2>
  <p class="information__content">
    Available for free on the App Store. Download for Mac or iOS, sync with
    iCloud and you’re ready to start adding to your clipboard.
  </p>
</section>
