*, *::after,*::before{
    box-sizing: border-box;
}

:root{
    --color-primary:hsl(171, 66%, 44%);
    --color-secondary:hsl(233, 100%, 69%);
    --color-headings: hsl(210, 10%, 33%);
    --color-body-text:hsl(201, 11%, 66%);
}

.container{

    padding:1.5rem;
    width:100%;
}

@media screen and (min-width:1024px){
    .container{
        padding-left:17rem;
        padding-right: 17rem;
    }
}

/* Typography */


body{
    
    font-size: 62.5%;
    margin:0;
    padding: 0;

}



h1,h2,h3,.btn{
    color:var(--color-headings);
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;

}

p,a{
    color: var(--color-body-text);
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

/* Header */
.page-header{
    background: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.page-header__logo{
    margin-top:5.5rem;
}

@media screen and (min-width:1024px)
{
    .page-header{
        background: url(../images/bg-header-desktop.png);
        background-repeat: no-repeat;
        /* background-size: cover; */
       
    }

   

}

/* Introduction */

.introduction{
    text-align: center;
}

.introduction__heading{
    margin-top: -24rem;
    font-size:2rem;
    
}

.introduction__content{
    font-size:1.1rem ;
    line-height: 1.5;
}

@media screen and (min-width:1024px)
{
    .introduction__heading{
        margin-top: -25rem;
        font-size:1.8rem;
        
    }
    
    .introduction__content{
        font-size:1rem ;
        line-height: 1.5;
    }
    
}
/* Buttons */

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -12rem;
    
}

.btn{
    outline:none;
    
    width:300px;
    height:50px;
    border-radius: 30px;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: #fff;
    border: 2px solid;
    cursor: pointer;

}

.btn--primary{
    background:var(--color-primary);
    border-color:var(--color-primary);
    box-shadow: 0 0 4px 1px var(--color-primary);
}

.btn--secondary{
    background:var(--color-secondary);
    border-color: var(--color-secondary);
    box-shadow: 0 0 4px 1px var(--color-secondary);
}

    
.btn--primary:hover{
    background:var(--color-primary);
    opacity: 0.8;

}

    
.btn--secondary:hover{
    background:var(--color-secondary);
    opacity: 0.8;
}


@media screen and (min-width:1024px){
    .buttons{
        flex-direction: row;
        margin-top: -14rem;
    }

    .btn{
        
        outline: 0;
        width:200px;
        height:40px;
        border-radius: 30px;
        margin-right: 1rem;
       
        font-size: 1rem;
        color: #fff;
        border: 2px solid;
        cursor: pointer;
         
    }

    .btn--primary{
        background:var(--color-primary);
        border-color:var(--color-primary);
        box-shadow: 0 0 4px 1px var(--color-primary);
    }
    
    .btn--secondary{
        background:var(--color-secondary);
        border-color: var(--color-secondary);
        box-shadow: 0 0 4px 1px var(--color-secondary);
    }

}

/* Main Features */

.feature-main{
    text-align: center;
}

.feature-main__heading{
    font-size:1.8rem;
    margin-top: 4rem;
}

.feature-main__content{
    font-size:1rem ;
    line-height: 1.5;
}

.feature-main__image{
    margin-top: 4rem;
    margin-bottom: 4rem;
    width:100%;
}

.feature-main__sub-heading{
    font-size:1.5rem;
    margin-top: 3rem;
    
}

.feature-main__sub-content{
    margin-top:2.5rem;
    margin-bottom:2rem;
}

.feature-main__icon{
    margin-top:3rem;
}

@media screen and (min-width:1024px){

    .grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .feature-main__content{
        font-size:0.9rem ;
        line-height: 1.5;
        
    }
    
    .feature-main__left{
        transform:translateX(-25px);
    }

    .grid__right-content{
        margin-top:3rem;
        text-align:left;
        margin-left:4rem;
        margin-right:15rem;
        
    }

    .feature-main__sub-heading{
        font-size:1.2rem;
        margin-top: 3rem;
        
    }
    
    .feature-main__sub-content{
        margin-top:0;
        margin-bottom:0;
        font-size: 0.7rem;
    }
    .feature__row{
        display:flex;
        padding-left:11rem;
        padding-right:11rem;
        
        
    }

    .feature__blacklist{
        margin-top:2.98rem;
    }

    .feature-main__icon{
        width:35px;
        height:25px;
    }

    .feature__row-item{
        margin:1rem;
    }
}


/* User Icons */

.user-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.user-icons img{
    width: 100px;
    height:30px;
    margin: 2rem;

}

@media screen and (min-width:1024px){
    .user-icons{
        flex-direction: row;
        margin:5rem;
        margin-bottom: -2rem;
    }
}
/* Footer */

.page-footer{
    background:hsl(0, 0%, 95%);
    width: 100vw;

}

.footer__content ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    /* flex-wrap: wrap; */
    margin-bottom: 0;
    
    
    
}

.footer__content li{
    margin-top:3.2rem;
    font-size: 1.2rem;
    
}

.footer__content a{
    text-decoration: none;
    color: var(--color-headings);
    
    
}

.footer__content a:hover{
    color:var(--color-primary);
}

.footer__icon{
    width:50px;
    height: 50px;
}

.footer__icon-list{
    margin:3rem;
    display: flex;
    position:relative;
    left:10px;

    
}

.footer__icon-list img{
    margin-right:2rem;
    
}

@media screen and (min-width:1024px)
{

.footer__content ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
    
    margin-bottom: 0;
    
    
    
}

.footer__content a{
    
    font-size:0.8rem ;
}

.footer__icon-list{
    margin:3rem;
    display: flex;
    position:relative;
    
    left: 1px;
    top: 6px;


    
}

.footer__icon-list img{
    margin-right: 1rem;
    width: 18px;
    
}

.footer__icon{
    width:40px;
    height: 40px;
   
}
}